{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% translate "Account" %}
{% endblock head_title %}
{% block inner %}
  <h1>{% translate "E-mail Address" %}</h1>
  {% if user.emailaddress_set.all %}
    <p>{% translate "The following e-mail address is associated with your account:" %}</p>
    <p>{{ user.emailaddress_set.first.email }}</p>
  {% else %}
    <p>
      <strong>{% translate "Warning:" %}</strong> {% translate "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
    </p>
  {% endif %}
{% endblock inner %}
